@import 'assets/styles/colors';
@import 'assets/styles/fonts';
@import 'assets/styles/mixin';

.form {
  @include screen-mobile {
    padding: 0 10px;
  }

  .suggestion {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;

    @include screen-tablet {
      margin-bottom: 10px;
      font-size: 16px;
    }

    @include screen-mobile {
      margin-bottom: 4px;
      font-size: 14px;
    }
  }
}

.inputBlock {
  display: flex;

  .inputEmail {
    @extend .inputBtnInCommon;
    box-sizing: border-box;
    width: 500px;
    font-size: 20px;
    padding-left: 20px;

    &:focus {
      outline: none !important;
    }

    @include screen-tablet {
      width: calc(100vw - 140px);
      max-width: 500px;
      font-size: 16px;
    }

    @include screen-mobile {
      width: calc(100vw - 120px);
      padding-left: 10px;
      font-size: 14px;
    }
  }

  .inputBtnInCommon {
    height: 60px;
    border: 0;

    @include screen-tablet {
      height: 50px;
    }

    @include screen-mobile {
      height: 40px;
    }
  }

  .btn {
    @extend .inputBtnInCommon;
    width: 140px;
    padding: 0;
    font: bold 20px 'Noto Sans', sans-serif;
    color: $btnLettersColor;
    background-color: $mainColor;

    &:hover {
      cursor: pointer;
    }

    @include screen-tablet {
      width: 120px;
      font-size: 18px;
    }

    @include screen-mobile {
      width: 100px;
      font-size: 16px;
    }
  }
}
