@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.searchBar {
  border: none;
  border-radius: 5px;
  margin-right: 100px;
  padding: 12px 20px 12px 40px;
  font-size: 16px;
  color: $lightGrey;
  background: url('../../../../../assets/images/searchicon.png') 10px 10px no-repeat $darkGrey;

  &:focus {
    outline: none !important;

    &::placeholder {
      color: transparent;
    }
  }

  @include screen-tablet {
    width: 126px;
    margin: 0 14px;
  }

  @include screen-mobile {
    width: 110px;
    margin: 0 24px 0 18px;
    padding: 10px 18px 10px 14px;
    border-radius: 17px;
    font-size: 14px;
    background: $darkGrey;
  }
}
