@import 'assets/styles/fonts';

@mixin modalFullSize($bgc) {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  background-color: $bgc;
}

.modalSignInUp {
  @include modalFullSize(rgba(28, 28, 28, 0.95));
}

.modalStatus {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 18px;
  text-align: center;
  z-index: 999;
}
