@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.movieCard {
  height: 300px;
}

.triangle {
  position: relative;
  bottom: 5px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: $secondaryColor transparent transparent transparent;
}

.moviePoster {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  object-fit: cover;

  @include screen-desktop {
    &:hover {
      border-width: 4px;
      opacity: 0.7;
      cursor: pointer;

      & + .triangle {
        border-top-color: $secondaryColorHovered;
      }
    }
  }
}
