@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.movieDescription {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 20px;
  width: 100%;

  .contentContainer {
    position: relative;
    grid-column: 1 / -1;
    min-height: 520px;

    @include screen-tablet-mobile {
      min-height: 400px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: inset calc((100vw - 320px) / 2) 0 100px 10px black;
      z-index: 11;

      @include screen-tablet {
        box-shadow: inset calc((100vw) / 1.5) 0 100px 10px black;
      }

      @include screen-mobile {
        box-shadow: none;
        background-color: black;
      }
    }
  }
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.content {
  position: relative;
  width: 50%;
  height: auto;
  margin-bottom: 200px;
  z-index: 12;

  @include screen-tablet {
    width: 65%;
    margin-bottom: 100px;
  }

  @include screen-mobile {
    width: 100%;
    margin-bottom: 60px;
  }
}

.showName {
  font-size: 50px;

  @include screen-tablet {
    font-size: 40px;
  }

  @include screen-mobile {
    font-size: 30px;
  }
}

.summary {
  color: $lightGrey;
  line-height: 160%;

  @include screen-tablet {
    font-size: 16px;
  }

  @include screen-mobile {
    font-size: 14px;
  }
}
