@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.invitation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include screen-mobile {
    margin-bottom: 20px;
  }

  .invitationalText {
    max-width: 900px;
    margin: 0;
    font-size: 60px;
    font-weight: bold;

    @include screen-tablet {
      font-size: 44px;
    }

    @include screen-mobile {
      font-size: 32px;
    }
  }

  .additionalText {
    margin: 15px 0 30px;
    font-size: 30px;

    @include screen-tablet-mobile {
      margin: 5px 0 20px;
    }

    @include screen-tablet {
      font-size: 24px;
    }

    @include screen-mobile {
      font-size: 18px;
    }
  }

  span {
    color: $secondaryColor;
  }
}
