@import 'assets/styles/mixin';

.infoBlock {
  display: flex;
  margin: 10px 0 0;
  padding: 80px 0;
  background-color: black;

  @include screen-tablet-mobile {
    align-items: center;
  }

  @include screen-tablet {
    padding: 70px 45px;
  }

  @include screen-mobile {
    padding: 50px 15px 60px;
  }
}

.leftText {
  flex-direction: row-reverse;

  .text {
    margin: 0 60px 0 auto;
  }

  .img {
    margin: 0 auto 0 60px;
  }
}

.rightText {
  flex-direction: row;

  .text {
    margin: 0 auto 0 60px;
  }

  .img {
    margin: 0 60px 0 auto;
  }
}

.leftText, .rightText {
  @include screen-tablet-mobile {
    flex-direction: column-reverse;

    .text {
      margin: 0;
    }

    .img {
      margin: 0 auto;
    }
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 50%;

  .img {
    max-width: 450px;
  }

  @include screen-tablet-mobile {
    width: 100%;
    margin-top: 30px;
  }

  @include screen-tablet {
    .img {
      min-width: 360px;
    }
  }

  @include screen-mobile {
    .img {
      min-width: calc(100vw - 30px);
    }
  }
}

.textContainer {
  flex: 1;
  display: flex;
  align-items: center;

  .text {
    max-width: 400px;

    .header {
      margin: 0 0 30px;
      font-size: 54px;
      line-height: 110%;
    }

    .description {
      margin: 0;
      font-size: 30px;
    }

    @include screen-tablet-mobile {
      width: 100%;
      max-width: 100%;
      text-align: center;

      .header {
        margin-bottom: 15px;
      }
    }

    @include screen-tablet {
      .header {
        font-size: 36px;
      }

      .description {
        font-size: 20px;
      }
    }

    @include screen-mobile {
      .header {
        font-size: 24px;
      }

      .description {
        font-size: 16px;
      }
    }
  }
}
