@import 'assets/styles/mixin';

.libraryContainer {
  background-color: black;
}

.library {
  margin-left: 310px;
  padding: 50px 80px;

  @include screen-tablet-mobile {
    margin: 0;
    padding: 50px 10px;
  }

  @include screen-tablet {
    padding-bottom: 46px;
  }

  @include screen-mobile {
    padding-bottom: 36px;
  }
}

.movieContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;

  @include screen-tablet {
    margin-bottom: 40px;
  }

  @include screen-mobile {
    margin-bottom: 30px;
  }
}

.loadBtn {
  @include btnTemplate(12px, 40px, 18px);
  display: block;
  margin: auto;

  @include screen-tablet {
    @include btnTemplate(10px, 35px, 16px);
  }

  @include screen-mobile {
    @include btnTemplate(8px, 26px, 16px);
  }
}
