@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.userMenuTools {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: -20px;
}

.personIcon {
  width: 52px;
  height: 52px;
  border-radius: 7px;
  background: url('../../../../assets/images/person.png') 1px 9px no-repeat $secondaryColor;
  cursor: pointer;

  @include screen-mobile {
    width: 42px;
    height: 42px;
    background-position: 0 5px;
    background-size: 43px;
  }
}

.personIconActive {
  border-radius: 7px 7px 0 0;
}
