@import 'assets/styles/mixin';

.headerUnauth {
  display: flex;
  flex-direction: column;
  height: 760px;
  background: url('../../assets/images/poster.webp') no-repeat;
  background-size: cover;

  @include screen-tablet-mobile {
    height: 620px;
  }
}

.headerAuth {
  position: sticky;
  top: 0;
  background: black;
  box-shadow: 0 1px 7px 0 rgba(51, 151, 246, 0.39);
  z-index: 100;
}
