@import 'assets/styles/colors';
@import 'assets/styles/fonts';
@import 'assets/styles/mixin';

.filterToggle {
  display: none;

  @include screen-tablet-mobile {
    position: relative;
    top: 24px;
    margin: 0 auto;
    @include btnTemplate(8px, 40px, 16px, $filter: true);
  }
}

.closeBtn {
  @include screen-tablet-mobile {
    @include closeBtn;
    right: 16px;
    top: 16px;
  }
}

.filterContainer {
  position: absolute;
  top: 114px;
  left: 50px;
  height: 350px;
  width: 254px;
  box-sizing: border-box;
  border: 2px solid $darkGrey;
  border-radius: 5px;

  @include screen-tablet-mobile {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.75);

    &_visible {
      visibility: visible;
    }
  }
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 254px;

  @include screen-tablet-mobile {
    position: absolute;
    top: 0;
    left: -254px;
    background-color: $darkGrey;
    transition: left 0.5s;

    &_visible {
      left: 0;
    }
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 20px;
  width: 210px;
}

.label {
  font-size: 18px;
}

.select {
  height: 40px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background-color: $darkGrey;
  border-color: $secondaryColor;
  color: $secondaryColor;
}

.filterBtn {
  @include btnTemplate(8px, 50px, 18px);
  margin: 14px auto 0;
}
