@import 'assets/styles/colors';
@import 'assets/styles/mixin';

%notification {
  width: 200px;
  padding: 30px 40px;
  border-radius: 2px;

  @include screen-mobile {
    width: 140px;
    padding: 22px 30px;
  }
}

.errorWindow {
  @extend %notification;
  border: 2px solid $errorWindowBorderColor;
  background-color: $errorWindowBodyColor;
}

.confirmEmailNotification {
  @extend %notification;
  border: 2px solid $successWindowBorderColor;
  background-color: $successWindowBodyColor;
}
