@import 'assets/styles/colors';
@import 'assets/styles/fonts';
@import 'assets/styles/mixin';

.closeBtn {
  @include closeBtn;
  right: 32px;
  top: 32px;

  @include screen-tablet {
    right: 22px;
    top: 22px;
  }

  @include screen-mobile {
    right: 12px;
    top: 12px;
  }
}

.signIuUp {
  padding: 50px 20px 40px;
  border-radius: 5px;
  background-color: black;
}

.title {
  margin: 0 0 20px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 280px;

  @include screen-mobile {
    width: 240px;
  }
}

.input {
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  padding-left: 10px;
  color: $secondaryColor;
  background-color: $darkGrey;
}

.input:focus {
  outline: none;
}

.button {
  @include btnTemplate(8px, 0, 16px);
  margin-top: 20px;
  font-family: 'Noto Sans', sans-serif;
}
