@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.footer {
  padding: 5px 0 5px;
  color: grey;

  .developerName {
    font-size: 18px;
    text-align: center;

    @include screen-tablet-mobile {
      font-size: 16px;
    }
  }
}

.footerAuth {
  @extend .footer;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid $darkGrey;
}

.footerUnauth {
  @extend .footer;
  margin-top: 10px;
}
