@import 'assets/styles/colors';
@import 'assets/styles/mixin';
@import 'app.module';

.dropdown {
  position: absolute;
  top: $headerLengthAuth - 12px;
  right: 0;
  width: 130px;
  background-color: $secondaryColor;
  border-radius: 7px 0 7px 7px;

  @include screen-mobile {
    top: $headerLengthAuthMobile - 12px;
  }
}

.list {
  list-style-type: none;
  margin: 16px 10px 10px;
  padding: 0;
}

.listItem {
  padding: 8px 0 8px;
  font-size: 18px;

  .link {
    color: $listItemColor;
    text-decoration: none;

    &:hover {
      color: $listItemHoverColor;
    }
  }
}

.signOut {
  margin: 10px 0 0 0;
  padding-top: 7px;
  border-top: 3px solid black;
  font-size: 18px;
  cursor: pointer;

  .link {
    color: $signOutColor;

    &:hover {
      color: $signOutHoverColor;
    }
  }
}

.link {
  text-decoration: none;
}
