@import 'assets/styles/fonts';
@import 'assets/styles/vars';
@import 'assets/styles/mixin';

.mainContainer {
  position: relative;
  min-height: calc(100vh - 60px);
  background-color: black;
  padding-bottom: 60px;
}

.main {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background-color: #2f2f2f;
}

.indentForAuth {
  top: $headerLengthAuth;

  @include screen-mobile {
    top: $headerLengthAuthMobile;
  }
}
