$mainColor: #3397f6;
$secondaryColor: #9f83ff;
$secondaryColorHovered: #6E59BE;
$darkGrey: #2f2f2f;
$lightGrey: #858585;
$btnColor: $mainColor;
$btnHoverColor: #46a3ff;
$btnLettersColor: #002e57;
$listItemColor: black;
$listItemHoverColor: $darkGrey;
$signOutColor: #0061b9;
$signOutHoverColor: #3e7cb2;
$errorWindowBorderColor: red;
$errorWindowBodyColor: #ffabab;
$successWindowBorderColor: green;
$successWindowBodyColor: #abffab;
