@import 'vars';
@import 'colors';
@import 'fonts';

@mixin screen-tablet {
  @media (min-width: #{$mobileWidth}) and (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin screen-mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}

@mixin screen-tablet-mobile {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin screen-desktop {
  @media (min-width: #{$tabletWidth + 1px}) {
    @content;
  }
}

@mixin navbar($height, $fontSize, $marginRight, $marginLeft: $marginRight) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height;
  margin: 0 $marginRight 0 $marginLeft;

  .logo {
    position: relative;
    bottom: 4px;
    margin: 0;
    font-size: $fontSize;
    font-weight: bold;
    color: $mainColor;
    cursor: default;

    .firstLogoLetter {
      color: $secondaryColor;
    }

    @include screen-mobile {
      bottom: 1px;
    }
  }

  .authLogo {
    cursor: pointer;

    @include screen-mobile {
      .restOfLogoLetters {
        display: none;
      }

      &::after {
        content: 'i';
      }
    }
  }
}

@mixin btnTemplate($paddingTop, $paddingRight, $fontSize, $filter: false) {
  display: block;
  padding: $paddingTop $paddingRight;
  border: 0;
  border-radius: 5px;
  font: bold $fontSize 'Noto Sans', sans-serif;
  color: $btnLettersColor;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  @if $filter {
    background: url('../images/filter.png') 5px 9px no-repeat $secondaryColor;
    background-size: 18px;
    color: $darkGrey;
  } @else {
    background-color: $btnColor;

    @include screen-desktop {
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}

@mixin closeBtn {
  position: absolute;
  width: 52px;
  height: 52px;
  opacity: 0.3;
  cursor: pointer;

  @include screen-tablet-mobile {
    width: 40px;
    height: 40px;
  }

  @include screen-desktop {
    &:hover {
      opacity: 0.8;
    }
  }

  &:before, &:after {
    content: ' ';
    position: absolute;
    left: 25px;
    width: 2px;
    height: 53px;
    background-color: #ffffff;

    @include screen-tablet-mobile {
      left: 20px;
      height: 40px;
    }
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
