@import 'assets/styles/colors';
@import 'assets/styles/mixin';

.likeListTools {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 280px;
  margin-top: 30px;

  @include screen-mobile {
    width: 100%;
  }
}

.addToList {
  margin: 0;
  cursor: pointer;

  .textFaList {
    margin-left: 10px;
    color: white;
    font-size: 24px;

    @include screen-mobile {
      font-size: 20px;
    }
  }

  @include screen-desktop {
    &:hover {
      .faList {
        opacity: .5;
      }
    }
  }
}

.faThumbsUp, .faList {
  color: $lightGrey;
  font-size: 30px;

  @include screen-mobile {
    font-size: 26px;
  }
}

.faThumbsUp {
  cursor: pointer;

  @include screen-desktop {
    &:hover {
      opacity: .5;
    }
  }
}

.faThumbsUpActive, .faListActive {
  color: $secondaryColor;
}
