@import 'assets/styles/colors';
@import 'assets/styles/fonts';
@import 'assets/styles/vars';
@import 'assets/styles/mixin';

.navbarUnauth {
  @include navbar(80px, 50px, 40px);

  @include screen-tablet {
    @include navbar(70px, 40px, 30px);
  }

  @include screen-mobile {
    @include navbar(56px, 34px, 10px, 8px);
  }
}

.navbarAuth {
  @include navbar($headerLengthAuth, 44px, 40px);

  @include screen-tablet {
    @include navbar($headerLengthAuth, 40px, 30px);
  }

  @include screen-mobile {
    @include navbar($headerLengthAuthMobile, 40px, 28px, 6px);
  }
}

.signInBtn {
  @include btnTemplate(10px, 18px, 16px);

  @include screen-tablet-mobile {
    @include btnTemplate(7px, 12px, 16px);
  }
}

.link {
  text-align: end;
  text-decoration: none;
}
