@import 'assets/styles/mixin';

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
  padding: 90px 0 80px;
  background-color: black;

  @include screen-tablet {
    padding: 80px 0 60px;
  }

  @include screen-mobile {
    padding: 62px 0 44px;
  }
}
